{% comment %}
  Renders a image banner text top

  Accepts:
  - background_svg: {Option} Background svg
  - image_1: {Image} Image
  - image_2: {Image} Image
  - image_3: {Image} Image
  - image_4: {Image} Image
  - image_decor: {Image} Image decoraction
  - color_background: {Color} Background color

  Usage:
  {% render 'image-banner-text-top',
        background_svg: background_svg,
        image_1: section.settings.image_1,
        image_2: section.settings.image_2,
        image_3: section.settings.image_3,
        image_4: section.settings.image_4,
        image_decor: section.settings.image_decor,
        color_background: section.settings.color_background
      %}
{% endcomment %}

<div class='image-banner-type-3__container'>
  <div
    class='
      image-banner-type-3__background {% if background_svg == 'type-1' %}
        image-banner-type-3__background--none
      {% endif %}
    '
  >
    <xo-container class='image-banner-type-3__content'>
      <div class='image-banner-type-3__heading'>
        {% render 'text',
          text: section.settings.text_heading,
          tag_name: section.settings.text_tag_name,
          duration: section.settings.text_duration,
          effect: section.settings.text_effect
        %}
      </div>
      <xo-animate class='image-banner-type-3__button' xo-duration='300' xo-constant='20' xo-type='blur' xo-cascade>
        {% render 'button',
          text: section.settings.button_text,
          link: section.settings.button_link,
          size: section.settings.button_size,
          style: section.settings.button_style,
          icon: 'arrow-testimonial-right',
          icon_position: 'right',
          icon_size: '24'
        %}
      </xo-animate>
    </xo-container>
  </div>
  <xo-animate class='image-banner-type-3__image-1' xo-type='zoom-in' xo-cascade xo-constant='22'>
    {% render 'image', image: image_1, placeholder: 'product-1', lazyload: false %}
  </xo-animate>
  <xo-animate class='image-banner-type-3__image-2' xo-type='zoom-in' xo-cascade xo-constant='25'>
    {% render 'image', image: image_2, placeholder: 'product-2', lazyload: false %}
  </xo-animate>
  <xo-animate class='image-banner-type-3__image-3' xo-type='zoom-in' xo-cascade xo-constant='28'>
    <div class='image-banner-type-3__decor'>
      {% render 'image', image: image_decor, placeholder: 'product-4', lazyload: false %}
    </div>
    {% render 'image', image: image_3, placeholder: 'product-3', lazyload: false %}
  </xo-animate>
  <xo-animate class='image-banner-type-3__image-4' xo-type='zoom-in' xo-cascade xo-constant='31'>
    {% render 'image', image: image_4, placeholder: 'product-2', lazyload: false %}
  </xo-animate>
  <div class='image-banner-type-3__svg' style='--color: {{ color_background }}'>
    {% if background_svg == 'type-1' %}
      <div class='image-banner-type-2__svg-container'></div>

    {% elsif background_svg == 'type-2' %}
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 245'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 102.504C63.6833 142.004 252.266 194.804 497.129 90.0037C803.209 -40.9963 929.742 -0.496277 1021.77 41.5037C1053.2 55.8501 1075.94 74.3381 1100.81 94.5567C1148.74 133.53 1204.58 178.933 1345.85 213.5C1535.37 259.873 1626.79 243.599 1693.53 231.72C1703.28 229.983 1712.52 228.34 1721.45 227C1791.47 216.5 1867.99 187.5 1920 146V0H0V102.504Z"/>
      </svg>
    {% elsif background_svg == 'type-3' %}
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 283'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M458.5 211.037C545.322 236.53 633.703 234.278 714.147 209.466C784.343 255.938 868.511 283 959 283C1049.48 283 1133.65 255.941 1203.84 209.475C1284.28 234.288 1372.67 236.541 1459.49 211.048C1546.32 185.552 1619.46 135.868 1673.72 71.4956C1757.9 72.6405 1843.87 48.9226 1920 0H0C75.7584 48.2789 160.646 72.6448 244.289 71.5059C298.547 135.869 371.68 185.545 458.5 211.037Z"/>
      </svg>
    {% elsif background_svg == 'type-4' %}
      <svg viewBox='0 0 1920 251' xmlns='http://www.w3.org/2000/svg'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1105.7 0H0V250.7C39.2543 248.806 49.6452 245.278 58.8815 240.45C66.1551 236.664 87.6296 226.724 102.177 221.234C107.757 219.08 112.987 216.832 118.282 214.555L118.493 214.464C120.577 213.568 122.674 212.667 124.806 211.766C129.231 210.768 133.466 209.271 137.39 207.318C144.862 203.806 153.485 200.589 162.066 197.388L162.069 197.387L162.458 197.242C164.618 196.436 166.775 195.63 168.909 194.821C169.356 194.63 169.806 194.44 170.258 194.248C172.493 193.299 174.782 192.327 176.991 191.224C183.141 188.607 189.463 186.268 195.926 184.219C206.431 180.811 216.477 177.213 225.828 173.333L284.017 154.967C305.952 148.057 329.506 141.904 354.443 136.697C368.298 133.857 382.961 131.396 398.201 129.692C426.949 126.568 456.159 124.011 485.6 122.025C491.949 121.646 498.299 121.456 504.65 121.456C518.273 121.74 531.897 121.456 545.405 120.509H550.715C567.11 120.509 583.504 120.131 599.784 119.562C614.975 119.266 630.128 118.191 645.156 116.343C649.429 115.871 653.585 115.114 657.51 114.261C671.942 111.137 685.797 107.635 699.074 103.754C703.563 102.296 708.28 100.964 712.917 99.6539L712.971 99.6388L713.402 99.5171C714.326 99.2562 715.247 98.9962 716.161 98.7357C731.39 94.2759 746.41 89.3503 761.188 83.9677C771.478 80.0622 782.084 76.349 792.745 72.6168L792.759 72.6117C795.011 71.8233 797.265 71.0341 799.519 70.2421C805.754 68.0649 811.642 65.6975 817.068 63.2368C843.183 51.0434 870.258 40.2903 898.116 31.0503C912.549 26.2223 928.481 21.9624 945.569 18.4597C963.792 14.7457 982.208 11.1894 1000.55 7.64668L1000.59 7.63931L1005.84 6.62653C1016 4.73322 1026.85 3.31327 1037.93 2.55592C1060.21 0.851973 1082.96 0 1105.7 0ZM1920 250.59V0H1105.7C1112.05 0 1118.4 0.189367 1124.64 0.567982C1130.56 1.00962 1136.59 1.28306 1142.62 1.55648L1142.81 1.56495C1145.75 1.69894 1148.71 1.83333 1151.65 1.98794C1163.31 2.65066 1174.74 3.88125 1185.48 5.77456L1202.8 8.70921C1229.16 12.7634 1254.66 19.905 1278.54 29.9143L1309.48 43.452C1318.72 47.6173 1327.49 51.9717 1335.57 56.4205C1337.67 57.6132 1339.94 58.76 1342.19 59.8928C1343.15 60.378 1344.1 60.8606 1345.04 61.3432L1373.44 74.8799C1395.38 85.4827 1418.12 95.7065 1442.14 105.741C1443.22 106.195 1444.3 106.651 1445.38 107.109L1445.54 107.174C1453.92 110.705 1462.48 114.313 1472.04 117.479C1493.16 125.053 1515.91 131.774 1539.93 137.928C1548.24 139.915 1556.32 142.187 1563.93 144.555C1581.26 150.329 1600.88 154.967 1622.13 158.47C1629.02 159.545 1635.79 160.774 1642.54 161.998L1642.69 162.025C1647.77 162.948 1652.84 163.868 1657.93 164.718C1706.26 169.482 1739.72 187.863 1773.48 206.403L1773.49 206.407L1773.5 206.411C1813.51 228.39 1853.93 250.59 1920 250.59Z"/>
      </svg>
    {% elsif background_svg == 'type-5' %}
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 222'>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 180.582C61.0736 134.36 224.064 48.5356 387.435 66.3799C521.086 80.978 587.091 126.307 638.817 161.83C666.127 180.585 689.457 196.607 716.66 203.929C795.388 225.119 888.906 248.24 1152.29 143.033C1165.41 137.79 1178.41 132.567 1191.3 127.388C1437.11 28.6246 1643.45 -54.2771 1920 46.7476V0H0V180.582Z"/>
      </svg>
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 244' style='position: static;'>
        <path d="M439.305 69.3865C250.925 33.0318 71.0742 123.393 0 180.666V195.494C37.635 169.449 148.607 101.392 242 88.0479C377.821 68.4799 459.417 89.7373 522.584 121.043C558.606 138.896 591.5 155.692 625.191 181.51C698.687 237.83 793.707 249.424 882.904 241.978C964.193 235.191 1046.46 209.986 1117.23 187.109C1265.65 139.129 1417.83 98.7223 1592.5 98.7223C1767.17 98.7223 1870.46 148.928 1920 187.109V39.3003C1847.49 14.5949 1777.75 -5.21344 1613.09 1.22834C1485.26 6.22911 1338.2 56.0971 1203.61 115.817C1139.09 144.447 1013.69 193.906 915.356 212.49C808.575 232.672 728.754 207.662 690.574 187.109C654.078 167.462 625.412 149.493 603 136.572C522.946 90.4213 514.995 83.9937 439.305 69.3865Z" fill="url(#paint0_linear_11410_87750)"/>
        <defs>
          <linearGradient id="paint0_linear_11410_87750" x1="0" y1="121.754" x2="1920" y2="121.754" gradientUnits="userSpaceOnUse">
            <stop stop-opacity="0" class="image-banner-type-3__linear"/>
            <stop offset="1" class="image-banner-type-3__linear"/>
          </linearGradient>
        </defs>
      </svg>
    {% endif %}
  </div>
</div>
