<nav class='xo-menu-scroll'>
  <ul class='xo-menu-scroll__list'>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' rel='preload' href='#'>Home</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' rel='preload' href='#'>Best Seller</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link xo-menu-scroll__link--current' rel='preload' href='#'>Collection</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' rel='preload' href='#'>Shop</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' rel='preload' href='#'>Contact</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' rel='preload' href='#'>Blog</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' rel='preload' href='#'>Lookbook</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' rel='preload' href='#'>Wishlist</a></li>
    <li class='xo-menu-scroll__item'><a class='xo-menu-scroll__link' rel='preload' href='#'>Portfolio</a></li>
  </ul>
</nav>
