{%- if pick_up_availabilities.size > 0 -%}
  {% assign closest_location = pick_up_availabilities.first %}
  <xo-product-pickup-availability class='xo-pickup-availability-item'>
    <div class='xo-pickup-availability-item__container'>
      {% comment %}
        <div class='xo-pickup-availability-item__icon'>
          {% if closest_location.available %}
            <div class='xo-pickup-availability-item__icon-item xo-pickup-availability-item__icon-check'>{% render 'icon', name: 'check', size: '2rem' %}</div>
              {% elsif closest_location.available == false %}
              <div class='xo-pickup-availability-item__icon-item xo-pickup-availability-item__icon-close'>{% render 'icon', name: 'close', size: '2rem' %}</div>
          {% endif %}
        </div>
      {% endcomment %}
      {%- if closest_location.available -%}
        <div class='xo-pickup-availability-item__content'>
          <p class='xo-pickup-availability-item__name'>
            {{ 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
          </p>
          <p class='xo-pickup-availability-item__time'>{{ closest_location.pick_up_time }}</p>
        </div>
      {% else %}
        <div class='xo-pickup-availability-item__content'>
          <p class='xo-pickup-availability-item__name'>
            {{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
          </p>
        </div>
      {%- endif -%}
    </div>
    {% if closest_location.available %}
      <xo-modal-trigger xo-name='pickup-availability'>
        {%- if pick_up_availabilities.size == 1 -%}
          {% assign label = 'products.product.pickup_availability.view_store_info' | t %}
        {%- else -%}
          {% assign label = 'products.product.pickup_availability.check_other_stores' | t %}
        {%- endif -%}
        {% render 'button', text: label, style: 'link' %}
      </xo-modal-trigger>
    {% else %}
      <xo-modal-trigger xo-name='pickup-availability'>
        {% assign label = 'products.product.pickup_availability.check_other_stores' | t %}
        {% render 'button', text: label, style: 'link' %}
      </xo-modal-trigger>
    {% endif %}
  </xo-product-pickup-availability>
{% endif %}
