{{ 'recover-password-form.css' | asset_url | stylesheet_tag }}
<div class='recover-password-form'>
  {% form 'recover_customer_password' %}
    <div>
      {% liquid
        render 'form-success', form: form, message: 'Success message'
        render 'form-error', form: form
      %}

      <div class='recover-password-form__description'>
        {% assign description = 'customer.recover_password.subtext' | t %}
        {{ description }}
      </div>
      <div class='recover-password-form__content'>
        <div class='recover-password-form__email'>
          {% assign email_label = 'customer.login_page.email' | t %}
          {% render 'field-input', type: 'email', name: 'customer[email]', value: '', label: email_label, id: 'customer[email]' %}
          <div class='recover-password-form__email-icon'>
            {% render 'icon', name: 'mail', size: '18' %}
          </div>
        </div>
        {% render 'space', value: '2.4rem' %}
        <div>
          {% assign btn_sign_in_text = 'customer.login_page.reset_password' | t %}
          {% render 'button', text: btn_sign_in_text, size: 'lg', block: true %}
        </div>
        {% render 'space', value: '1rem' %}
        <div>
          <xo-modal-trigger xo-name='forgot-your-password' class='recover-password-form__cancel'>
            {% assign btn_sign_in_text = 'customer.login_page.cancel' | t %}
            {% render 'button', text: btn_sign_in_text, size: 'lg', block: true, style: 'link' %}
          </xo-modal-trigger>
        </div>
      </div>
    </div>
  {% endform %}
</div>
