{{ 'section-product-grid-type-3.css' | asset_url | stylesheet_tag }}

<section {% render 'section-attr' %}>
  <xo-container>
    <xo-grid class='product-grid-type-3'>
      <div class='product-grid-type-3__container' style='--xs: 12; --xl: 10;--start-xl: 2;'>
        <fieldset class='product-grid-type-3__fieldset'>
          <legend class='product-grid-type-3__heading h2'>{{ section.settings.heading }}</legend>
          <xo-grid class='product-grid-type-3__content' style='--xs: 1;--lg: 2;'>
            {% for block in section.blocks %}
              {% assign product_index = forloop.index %}
              <div class='product-grid-type-3__item'>
                {% render 'product-grid-card-type-2',
                  product: block.settings.product,
                  product_index: product_index,
                  show_tag: block.settings.product_card_show_tag,
                  image_1: block.settings.image_1,
                  image_2: block.settings.image_2,
                  tag_text_1: block.settings.tag_text_1,
                  tag_text_2: block.settings.tag_text_2,
                  media_aspect_ratio: section.settings.product_card_aspect_ratio,
                  color_scheme: section.settings.card_color_scheme,
                  placeholder_image: section.settings.placeholder_image,
                  animate_enabled: true,
                  show_action: section.settings.show_action,
                  show_index: section.settings.show_index,
                  show_badge: section.settings.show_badge
                %}
              </div>
            {% endfor %}
          </xo-grid>
        </fieldset>
      </div>
    </xo-grid>
  </xo-container>
</section>

{% schema %}
{
  "name": "t:sections.product_grid_type_3.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.product_grid_type_3.settings.heading.label",
      "default": "Menu"
    },
    {
      "type": "header",
      "content": "t:sections.all.product_card_heading.content"
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "label": "t:sections.all.card_color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "show_index",
      "default": true,
      "label": "t:sections.product_grid_type_3.settings.show_index.label"
    },
    {
      "type": "checkbox",
      "id": "show_badge",
      "default": true,
      "label": "t:sections.product_grid_type_3.settings.show_badge.label"
    },
    {
      "type": "checkbox",
      "id": "show_action",
      "default": true,
      "label": "t:sections.product_grid_type_3.settings.show_action.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "t:sections.all.padding_top.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "t:sections.all.padding_bottom.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.product_grid_type_3.blocks.item.label",
      "type": "item",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.product_grid_type_3.blocks.item.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "product_card_show_tag",
          "default": true,
          "label": "t:sections.product_grid_type_3.blocks.item.settings.product_card_show_tag.label"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.product_grid_type_3.blocks.item.settings.image_1.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.product_grid_type_3.blocks.item.settings.image_2.label"
        },
        {
          "type": "text",
          "id": "tag_text_1",
          "label": "t:sections.product_grid_type_3.blocks.item.settings.tag_text_1.label",
          "default": "Tag text"
        },
        {
          "type": "text",
          "id": "tag_text_2",
          "label": "t:sections.product_grid_type_3.blocks.item.settings.tag_text_2.label",
          "default": "Tag text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_grid_type_3.presets.name",
      "blocks": [
        {
          "type": "item",
          "settings": {}
        },
        {
          "type": "item",
          "settings": {}
        },
        {
          "type": "item",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}