.xo-address-table__title {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  letter-spacing: calc(var(--font-heading-scale) * -0.036rem);
  padding-bottom: 2rem;
}

.xo-address-table__button .xo-btn {
  background: none;
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
  border-radius: unset;
}
.xo-address-table__button .xo-btn::before {
  content: none;
}
.xo-address-table__button .xo-btn .xo-btn__content {
  min-height: unset;
  padding: 0;
  gap: 0.4rem;
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
.xo-address-table__button .xo-btn svg {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}
.xo-address-table__button .xo-btn .xo-btn__text {
  color: inherit;
}
.xo-address-table__button .xo-btn:hover {
  opacity: 0.7;
}
.xo-address-table__button .xo-btn:hover .xo-btn__content {
  text-shadow: none;
}
.xo-address-table__button .xo-btn:hover .xo-btn__content svg {
  color: color-mix(in srgb, rgba(var(--color-button)) calc(1 * 100%), transparent);
}

.xo-address-table__table {
  width: 100%;
  border-collapse: collapse;
}
@media (max-width: 575px) {
  .xo-address-table__table {
    display: block;
  }
  .xo-address-table__table tbody,
  .xo-address-table__table tfoot,
  .xo-address-table__table tr,
  .xo-address-table__table th,
  .xo-address-table__table td {
    display: block;
  }
  .xo-address-table__table tbody:last-child,
  .xo-address-table__table tfoot:last-child,
  .xo-address-table__table tr:last-child,
  .xo-address-table__table th:last-child,
  .xo-address-table__table td:last-child {
    padding-inline-end: 0;
  }
  .xo-address-table__table thead {
    display: none;
  }
  .xo-address-table__table td {
    text-align: right;
  }
  .xo-address-table__table td:before {
    content: attr(data-th) ": ";
    float: left;
    text-transform: uppercase;
    color: rgba(var(--color-foreground));
    display: flex;
    justify-content: space-between;
  }
}

.xo-address-table__head-row {
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 0.3);
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.15);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.15);
}

.xo-address-table__body-row {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.15);
}

.xo-address-table__action {
  display: flex;
  justify-content: flex-end;
  gap: 2.4rem;
}
.xo-address-table__action .xo-btn {
  overflow: unset;
}
.xo-address-table__action .xo-btn::before {
  content: none;
}
.xo-address-table__action .xo-btn__content {
  padding: 0;
  min-height: unset;
}
.xo-address-table__action .xo-btn__icon svg {
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  background: color-mix(in srgb, rgba(var(--color-background)) calc(1 * 100%), transparent);
}

@media (min-width: 992px) {
  .xo-address-table .xo-table__head-row,
  .xo-address-table .xo-table__body-row {
    padding-inline-start: 1.6rem;
    padding-inline-end: 1.6rem;
  }
}
@media (min-width: 992px) {
  .xo-address-table .xo-table__head-row {
    border-top: 0.1rem dashed color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
    border-bottom: 0.1rem dashed color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  }
}
.xo-address-table .xo-table__body-row {
  border-bottom: 0.1rem solid color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}
@media (min-width: 992px) {
  .xo-address-table .xo-table__body-row {
    border-bottom: 0.1rem dashed color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  }
}
@media (max-width: 991px) {
  .xo-address-table .xo-table__body-row:first-child {
    border-top: 0.1rem dashed color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
  }
}
@media (max-width: 991px) {
  .xo-address-table .xo-address-table__body-column[data-th=Address] {
    text-align: right;
    gap: 10rem;
  }
}
.xo-address-table .xo-address-table__body-column[data-th=Name],
.xo-address-table .xo-address-table__body-column[data-th=Address],
.xo-address-table .xo-address-table__body-column[data-th=Phone] {
  opacity: 0.8;
  font-family: var(--font-body-family);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-style: var(--font-body-style);
  font-weight: 400;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  line-height: calc(1 + 0.46 / var(--font-body-scale));
}
.xo-address-table .xo-address-table__body-column[data-th=Address],
.xo-address-table .xo-address-table__body-column[data-th=Phone] {
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
}
@media (min-width: 992px) {
  .xo-address-table .xo-address-table__body-column[data-th=Name] {
    padding-inline-start: 1.6rem;
  }
}
@media (min-width: 992px) {
  .xo-address-table td:last-child {
    padding-inline-end: 2.8rem !important;
  }
}

.xo-address-table__head-column {
  opacity: 0.6;
  font-family: var(--font-body-family);
  font-size: calc(var(--font-body-scale) * 1.3rem);
  font-style: var(--font-body-style);
  font-weight: 400;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  line-height: calc(1 + 0.38 / var(--font-body-scale));
  padding: 2rem 0 !important;
}
@media (min-width: 992px) {
  .xo-address-table__head-column {
    padding: 1.6rem 0 !important;
  }
}

@media (max-width: 991px) {
  .xo-address-table__head-column:first-child {
    padding-top: 2.3rem !important;
  }
}
@media (min-width: 992px) {
  .xo-address-table__head-column:first-child {
    padding-inline-start: 1.6rem !important;
  }
}

@media (min-width: 992px) {
  .xo-address-table__head-column:last-child {
    padding-inline-end: 1.6rem !important;
  }
}

.xo-address-table__head-column--name {
  width: 18.4rem !important;
}

.xo-address-table__head-column--phone {
  width: 18.4rem !important;
}

.xo-address-table__head-column--address {
  width: 57.9rem !important;
}

.xo-address-table__head-column--action {
  width: 17.4rem !important;
}

@media (max-width: 991px) {
  .xo-table__body-row {
    padding-top: 2rem !important;
    padding-bottom: 3.2rem !important;
  }
}

@media (max-width: 991px) {
  .xo-address-table__body-column {
    text-align: left;
    padding-top: 2rem !important;
    padding-bottom: 0 !important;
  }
  .xo-address-table__body-column:last-child {
    text-align: right;
    padding-top: 1.5rem !important;
  }
  .xo-address-table__body-column:first-child {
    padding-top: 0rem !important;
    padding-inline-end: 0 !important;
  }
}

.xo-address-table__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  padding-top: 2.4rem;
}
@media (max-width: 991px) {
  .xo-address-table__bottom {
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .xo-address-table__bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}

@media (max-width: 991px) {
  .xo-address-table__pagination {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
.xo-address-table__pagination .xo-pagination__list {
  margin: 0;
  padding: 0;
}

.xo-address-table__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}
@media (min-width: 992px) {
  .xo-address-table__empty {
    gap: 1.6rem;
  }
}
.xo-address-table__empty svg {
  color: color-mix(in srgb, rgba(var(--color-accent)) calc(1 * 100%), transparent);
}

.xo-address-table__empty-heading {
  text-align: center;
  margin-bottom: 0;
  letter-spacing: calc(var(--font-heading-scale) * -0.06rem);
}
@media (min-width: 992px) {
  .xo-address-table__empty-heading {
    letter-spacing: calc(var(--font-heading-scale) * -0.063rem);
  }
}

.xo-address-table__empty-text {
  text-align: center;
  margin: auto;
}
@media (min-width: 992px) {
  .xo-address-table__empty-text {
    width: 80%;
  }
}
@media (min-width: 1800px) {
  .xo-address-table__empty-text {
    width: 45%;
  }
}

.xo-address-table__empty-button svg {
  color: color-mix(in srgb, rgba(var(--color-button-text)) calc(1 * 100%), transparent);
}