.collapse-item {
  border-top: 0.1rem dashed color-mix(in srgb, rgba(var(--color-border)) calc(1 * 100%), transparent);
}

.collapse-item__trigger {
  cursor: pointer;
  padding-top: 1.9rem;
  padding-bottom: 2.2rem;
}

.collapse-item__trigger[xo-active] {
  padding-bottom: 1.1rem;
}
.collapse-item__trigger[xo-active] .collapse-item__header-icon-default {
  opacity: 0;
}
.collapse-item__trigger[xo-active] .collapse-item__header-icon-active {
  opacity: 1;
}

.collapse-item__header {
  display: flex;
  justify-content: space-between;
}

.collapse-item__header-icon {
  position: relative;
  padding-inline-end: 3.2rem;
}
@media (min-width: 992px) {
  .collapse-item__header-icon {
    padding-inline-end: 4.6rem;
  }
}

.collapse-item__header-icon-default {
  opacity: 1;
}

.collapse-item__header-icon-active {
  opacity: 0;
}

.collapse-item__header-icon-default,
.collapse-item__header-icon-active {
  position: absolute;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  transition: all 0.5s;
}

.collapse-item__header-content {
  word-wrap: break-word;
  word-break: break-word;
  font-family: var(--font-body-family);
  font-size: calc(var(--font-body-scale) * 1.6rem);
  font-style: var(--font-body-style);
  font-weight: 600;
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}
@media (min-width: 992px) {
  .collapse-item__header-content {
    font-size: calc(var(--font-body-scale) * 1.8rem);
    line-height: calc(1 + 0.44 / var(--font-body-scale));
  }
}

.collapse-item__content {
  width: 90%;
  font-family: var(--font-body-family);
  font-size: calc(var(--font-body-scale) * 1.4rem);
  font-style: var(--font-body-style);
  font-weight: 400;
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(0.8 * 100%), transparent);
  line-height: calc(1 + 0.57 / var(--font-body-scale));
  padding-bottom: 2.4rem;
  padding-inline-end: 5rem;
}
@media (min-width: 992px) {
  .collapse-item__content {
    width: 88%;
    font-size: calc(var(--font-body-scale) * 1.5rem);
    line-height: calc(1 + 0.46 / var(--font-body-scale));
    padding-inline-end: 0;
  }
}