.xo-hotspot__trigger {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #FFF;
  position: relative;
  cursor: pointer;
}
.xo-hotspot__trigger:after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  top: 0;
  animation-name: hotspot;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
[dir=ltr] .xo-hotspot__trigger:after {
  left: 0;
}
[dir=rtl] .xo-hotspot__trigger:after {
  right: 0;
}
@keyframes hotspot {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 3;
  }
}

.xo-hotspot__content {
  background-color: #FFF;
  max-width: 20rem;
  padding: 1.5rem;
  border: 0.1rem solid black;
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) var(--color-foreground);
}