@media (max-width: 991px) {
  .image-with-text-type-4 {
    height: 65vh;
  }
}

.image-with-text-type-4__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-with-text-type-4__container img,
.image-with-text-type-4__container svg {
  width: 100%;
  height: 100%;
}
.image-with-text-type-4__container .xo-image {
  display: flex;
}

.image-with-text-type-4__heading {
  margin: 0;
  margin: auto;
  padding-bottom: 3.2rem;
}
@media (min-width: 992px) {
  .image-with-text-type-4__heading {
    padding-bottom: 0rem;
  }
}
@media (min-width: 1200px) {
  .image-with-text-type-4__heading {
    width: 87.2rem;
  }
}
.image-with-text-type-4__heading .xo-text__heading {
  justify-content: center;
}

.image-with-text-type-4__image-decor {
  position: absolute;
  z-index: -1;
  top: 10%;
}
[dir=ltr] .image-with-text-type-4__image-decor {
  transform: translateX(-10%);
}
[dir=rtl] .image-with-text-type-4__image-decor {
  transform: translateX(10%);
}
@media (min-width: 992px) {
  .image-with-text-type-4__image-decor {
    top: 9%;
  }
  [dir=ltr] .image-with-text-type-4__image-decor {
    transform: translateX(-10%);
  }
  [dir=rtl] .image-with-text-type-4__image-decor {
    transform: translateX(10%);
  }
}

.image-with-text-type-4__image {
  position: relative;
  width: 61%;
}
@media (min-width: 768px) {
  .image-with-text-type-4__image {
    width: 40%;
  }
}
@media (min-width: 1400px) {
  .image-with-text-type-4__image {
    width: 30%;
  }
}
@media (min-width: 1800px) {
  .image-with-text-type-4__image {
    width: 30%;
  }
}

.image-with-text-type-4__icon {
  max-width: 6rem;
  max-height: 4.9rem;
}
@media (min-width: 992px) {
  .image-with-text-type-4__icon {
    max-width: 8.5rem;
    max-height: 7rem;
  }
}

.image-with-text-type-4__box-1 {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  width: fit-content;
  bottom: 5%;
}
[dir=ltr] .image-with-text-type-4__box-1 {
  left: 5%;
}
[dir=rtl] .image-with-text-type-4__box-1 {
  right: 5%;
}
@media (min-width: 992px) {
  .image-with-text-type-4__box-1 {
    bottom: 35%;
  }
  [dir=ltr] .image-with-text-type-4__box-1 {
    left: 5%;
  }
  [dir=rtl] .image-with-text-type-4__box-1 {
    right: 5%;
  }
}
@media (min-width: 1400px) {
  [dir=ltr] .image-with-text-type-4__box-1 {
    left: 10%;
  }
  [dir=rtl] .image-with-text-type-4__box-1 {
    right: 10%;
  }
}
@media (min-width: 1800px) {
  [dir=ltr] .image-with-text-type-4__box-1 {
    left: 15%;
  }
  [dir=rtl] .image-with-text-type-4__box-1 {
    right: 15%;
  }
}

.image-with-text-type-4__box-2 {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  width: fit-content;
  bottom: 15%;
}
[dir=ltr] .image-with-text-type-4__box-2 {
  right: 5%;
}
[dir=rtl] .image-with-text-type-4__box-2 {
  left: 5%;
}
@media (min-width: 992px) {
  .image-with-text-type-4__box-2 {
    bottom: 40%;
  }
  [dir=ltr] .image-with-text-type-4__box-2 {
    right: 10%;
  }
  [dir=rtl] .image-with-text-type-4__box-2 {
    left: 10%;
  }
}
@media (min-width: 1400px) {
  .image-with-text-type-4__box-2 {
    bottom: 40%;
  }
  [dir=ltr] .image-with-text-type-4__box-2 {
    right: 20%;
  }
  [dir=rtl] .image-with-text-type-4__box-2 {
    left: 20%;
  }
}
@media (min-width: 1800px) {
  .image-with-text-type-4__box-2 {
    bottom: 40%;
  }
}

.image-with-text-type-4__description {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  letter-spacing: calc(var(--font-heading-scale) * -0.032rem);
  margin: 0;
}
@media (min-width: 992px) {
  .image-with-text-type-4__description {
    letter-spacing: calc(var(--font-heading-scale) * -0.036rem);
  }
}

.image-with-text-type-4__description--1 {
  width: 49%;
}

.image-with-text-type-4__icon {
  position: relative;
}

.image-with-text-type-4__icon--1 {
  top: -5rem;
  transform: rotate(-30deg);
}
[dir=ltr] .image-with-text-type-4__icon--1 {
  left: -35%;
}
[dir=rtl] .image-with-text-type-4__icon--1 {
  right: -35%;
}
@media (min-width: 768px) {
  .image-with-text-type-4__icon--1 {
    top: unset;
    transform: none;
  }
  [dir=ltr] .image-with-text-type-4__icon--1 {
    left: unset;
  }
  [dir=rtl] .image-with-text-type-4__icon--1 {
    right: unset;
  }
}

.image-with-text-type-4__icon--2 {
  top: -5rem;
}
[dir=ltr] .image-with-text-type-4__icon--2 {
  right: -35%;
}
[dir=rtl] .image-with-text-type-4__icon--2 {
  left: -35%;
}
@media (min-width: 768px) {
  .image-with-text-type-4__icon--2 {
    top: unset;
  }
  [dir=ltr] .image-with-text-type-4__icon--2 {
    right: unset;
  }
  [dir=rtl] .image-with-text-type-4__icon--2 {
    left: unset;
  }
}
@media (max-width: 767px) {
  .image-with-text-type-4__icon--2 {
    transform: rotate(15deg);
  }
}