.image-banner-type-10 {
  height: 100vh;
  padding-top: 12.5rem;
  padding-bottom: 6rem;
}

.image-banner-type-10__bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.image-banner-type-10__bg .xo-image,
.image-banner-type-10__bg .image-banner-type-10__desktop,
.image-banner-type-10__bg .image-banner-type-10__mobile,
.image-banner-type-10__bg .xo-image__placeholder,
.image-banner-type-10__bg img {
  width: 100%;
  height: 100%;
}
.image-banner-type-10__bg svg {
  width: 100%;
  height: 100%;
  background-color: gray;
}

.image-banner-type-10__desktop {
  display: none;
}
@media (min-width: 992px) {
  .image-banner-type-10__desktop {
    display: block;
  }
}

.image-banner-type-10__mobile {
  display: block;
}
@media (min-width: 992px) {
  .image-banner-type-10__mobile {
    display: none;
  }
}

.image-banner-type-10__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image-banner-type-10__right {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  .image-banner-type-10__right {
    transform: translateY(-50%);
  }
}

@media (min-width: 1800px) {
  .image-banner-type-10__text {
    font-size: calc(var(--font-heading-scale) * var(--font-body-scale) * 17.8rem);
    line-height: calc(1 + -0.05 / var(--font-heading-scale));
    letter-spacing: calc(var(--font-heading-scale) * -0.89rem);
  }
}
.image-banner-type-10__text p {
  color: inherit;
}

.image-banner-type-10__text-2 {
  width: 85%;
  text-align: right;
  position: relative;
  bottom: 10%;
}
@media (min-width: 1400px) {
  .image-banner-type-10__text-2 {
    width: 70%;
  }
}

.image-banner-type-10__text-1 {
  text-align: left;
}
@media (min-width: 1400px) {
  .image-banner-type-10__text-1 {
    width: 75%;
  }
}

.image-banner-type-10__description {
  font-family: var(--font-body-family);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-style: var(--font-body-style);
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  font-weight: 400;
  line-height: calc(1 + 0.46 / var(--font-body-scale));
  padding-top: 1rem;
  padding-bottom: 2.8rem;
}
.image-banner-type-10__description p {
  color: inherit;
}
@media (min-width: 768px) {
  .image-banner-type-10__description {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .image-banner-type-10__description {
    padding-top: 1.7rem;
    width: 43%;
    font-size: calc(var(--font-body-scale) * 1.6rem);
    line-height: calc(1 + 0.5 / var(--font-body-scale));
  }
}
@media (min-width: 1200px) {
  .image-banner-type-10__description {
    width: 34%;
  }
}
@media (min-width: 1400px) {
  .image-banner-type-10__description {
    width: 27%;
  }
}
@media (min-width: 1800px) {
  .image-banner-type-10__description {
    width: 22%;
  }
}