.benefit {
  position: relative;
  padding: clamp(2rem, calc(9.5vw - 1.8rem), 9.6rem);
}

.benefit__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(0.9);
}
.benefit__background .xo-image__placeholder,
.benefit__background svg {
  width: 100%;
  height: 100%;
}
.benefit__background .xo-image {
  height: 100%;
  border-radius: 9.6rem;
}
@media (max-width: 991px) {
  .benefit__background .xo-image {
    border-radius: 3.6rem;
  }
}

.benefit__background-desktop,
.benefit__background-mobile {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .benefit__background-desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  .benefit__background-mobile {
    display: none;
  }
}

.benefit__heading {
  margin: 0 auto;
  width: var(--heading-width);
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding-bottom: clamp(1.5rem, calc(2.125vw + 0.65rem), 3.2rem);
}
@media (max-width: 991px) {
  .benefit__heading {
    width: var(--heading-width-mb);
  }
}
.benefit__heading .xo-text__heading {
  justify-content: center;
  color: rgba(var(--color-button-text));
}

@media (min-width: 992px) {
  .benefit__list {
    column-gap: clamp(1.4rem, calc(7vw - 5.6rem), 2.8rem);
    row-gap: clamp(1rem, calc(5vw - 4rem), 2rem);
  }
}

.benefit__block {
  display: block;
  padding: clamp(2rem, calc(1.5vw + 1.4rem), 3.2rem);
  padding-bottom: clamp(3rem, calc(1.25vw + 2.5rem), 4rem);
  background: rgba(var(--color-background), 0.72);
  border-radius: 2.4rem;
  backdrop-filter: blur(1.2rem);
}

.benefit__block-heading {
  text-align: center;
  margin-bottom: 0;
}

.benefit__block-subheading {
  text-align: center;
  font-size: calc(var(--font-body-scale) * 1.2rem);
  color: rgba(var(--color-foreground-2), 0.56);
  font-weight: 500;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  padding-bottom: 2rem;
}

.benefit__text-box {
  display: none;
}

.benefit__content > ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-inline-start: 0;
}

.benefit__tag {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  align-items: flex-start;
  gap: 1.2rem;
  word-break: break-word;
  font-size: calc(var(--font-body-scale) * 1.4rem);
  color: rgba(var(--color-foreground-2));
  font-weight: 500;
  line-height: calc(1 + 0.57 / var(--font-body-scale));
}

.benefit__icon-container {
  display: none;
}

.benefit__icon {
  display: inline-flex;
  padding-top: 0.3rem;
}