.featured-collection-type-2__point {
  position: absolute;
  z-index: 100;
  transform: translate(-50%, -50%);
  top: calc(var(--top-mb) * 1%);
}
[dir=ltr] .featured-collection-type-2__point {
  left: calc(var(--left-mb) * 1%);
}
[dir=rtl] .featured-collection-type-2__point {
  right: calc(var(--left-mb) * 1%);
}
@media (min-width: 992px) {
  .featured-collection-type-2__point {
    top: calc(var(--top) * 1%);
  }
  [dir=ltr] .featured-collection-type-2__point {
    left: calc(var(--left) * 1%);
  }
  [dir=rtl] .featured-collection-type-2__point {
    right: calc(var(--left) * 1%);
  }
}

.featured-collection-type-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media (min-width: 992px) {
  .featured-collection-type-2 {
    gap: 3.5rem;
  }
}

.featured-collection-type-2__subheading {
  word-break: break-word;
  word-wrap: break-word;
  opacity: 0.7;
  text-align: center;
  font-family: var(--font-body-family);
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-style: var(--font-body-style);
  font-weight: 500;
  color: color-mix(in srgb, rgba(var(--color-foreground-2)) calc(1 * 100%), transparent);
  line-height: calc(1 + 0.46 / var(--font-body-scale));
  padding-bottom: 0.3rem;
}
@media (min-width: 992px) {
  .featured-collection-type-2__subheading {
    font-size: calc(var(--font-body-scale) * 1.7rem);
    line-height: calc(1 + 0.52 / var(--font-body-scale));
  }
}

.featured-collection-type-2__heading {
  display: flex;
  justify-content: center;
}

@-moz-document url-prefix() {
  .featured-collection-type-2__heading {
    display: block;
  }
  .featured-collection-type-2__heading .xo-text__heading {
    justify-content: center;
  }
}
.featured-collection-type-2__image .xo-image {
  display: flex;
}
.featured-collection-type-2__image .xo-image__placeholder svg {
  background-color: gray;
}

.featured-collection-type-2__image-desktop {
  display: none;
  position: relative;
  z-index: 0;
}
@media (min-width: 992px) {
  .featured-collection-type-2__image-desktop {
    margin: auto;
    display: block;
    max-width: 80rem;
  }
}
@media (min-width: 1400px) {
  .featured-collection-type-2__image-desktop {
    max-width: 100rem;
  }
}
.featured-collection-type-2__image-desktop .xo-image {
  border-radius: 42.6rem;
}
.featured-collection-type-2__image-desktop .xo-image__placeholder {
  width: 100%;
}

.featured-collection-type-2__image-mobile {
  display: none;
  position: relative;
  margin: auto;
  z-index: 0;
}
@media (max-width: 991px) {
  .featured-collection-type-2__image-mobile {
    display: block;
    max-width: 55rem;
  }
}
@media (max-width: 767px) {
  .featured-collection-type-2__image-mobile {
    max-width: 44rem;
  }
}
@media (max-width: 575px) {
  .featured-collection-type-2__image-mobile {
    max-width: 33rem;
  }
}
.featured-collection-type-2__image-mobile .xo-image {
  border-radius: 15.3rem;
}
.featured-collection-type-2__image-mobile .xo-image__placeholder {
  width: 100%;
}

.featured-collection-type-2__bottom {
  position: relative;
  z-index: 10;
}

.featured-collection-type-2__bottom-container {
  position: relative;
  z-index: 0;
}

.featured-collection-type-2__marquee {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-collection-type-2__marquee-container {
  --space: 0;
  display: flex;
  align-items: center;
}

.featured-collection-type-2__marquee-image {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-inline-start: var(--space);
}
.featured-collection-type-2__marquee-image:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.featured-collection-type-2__marquee-image .xo-image {
  max-width: 9rem;
}
@media (min-width: 992px) {
  .featured-collection-type-2__marquee-image .xo-image {
    max-width: 11rem;
  }
}
.featured-collection-type-2__marquee-image .xo-image__placeholder,
.featured-collection-type-2__marquee-image svg {
  width: 100%;
  height: 100%;
}

.featured-collection-type-2__marquee-item {
  padding-inline-start: var(--space);
  color: color-mix(in srgb, rgba(var(--color-foreground)) calc(1 * 100%), transparent);
  text-align: center;
  margin: 0;
  letter-spacing: calc(var(--font-heading-scale) * -0.215rem);
}
@media (min-width: 992px) {
  .featured-collection-type-2__marquee-item {
    letter-spacing: calc(var(--font-heading-scale) * -0.44rem);
  }
}